Mulesoft-Projects/https-one-way-ssl-server/src/main/mule/https-one-way-ssl-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="client" doc:id="c6f41def-9bad-476f-9085-1dbd493760d5" >
		<http:listener doc:name="Listener" doc:id="591d09c1-c2e2-4f50-b3a8-5de04534080c" config-ref="HTTP_Client_Listener" path="${basePath.client}"/>
		<logger level="INFO" doc:name="Log Start Client" doc:id="f04b5936-f702-4095-9ef2-18df955c7d8d" message="#[&quot;Log START -&gt; CLIENT &quot; ++ Mule::p('env')]"/>
		<flow-ref doc:name="Flow Reference" doc:id="3f70a33f-6670-402f-a2e4-6ff2341c5cd4" name="common-loggingFlow"/>
		<http:request method="GET" doc:name="Request" doc:id="d801ab54-3b6d-41bf-b50a-dd12090ed7ad" path="${basePath.server}" config-ref="HTTP_Server_Request"/>
	</flow>
	<flow name="server" doc:id="0e5bf56f-834a-45b8-aae6-3a148eaf264c" >
		<http:listener doc:name="Listener" doc:id="aec4d3b0-d9b2-4820-ac8d-23203822859c" config-ref="HTTPS_Server_Listener" path="${basePath.server}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Log Start Server" doc:id="d9b45410-e7cc-40e4-9cc4-a351cc3cd4b1" message="#[Mule::p('message')]"/>
		<logger level="INFO" doc:name="Log Password" doc:id="4a6f0856-87e8-414a-a2f5-9151478a5fd6" message="#[Mule::p('secure::keystore.password')]"/>
	</flow>
</mule>
